/* #D68FD6 - light purple
	#76E5FC - light blue
	#352D39 - black coffee
	##ffcba4 - peach
	#7F2CCB - violet
	#fff8f2 - almost white
*/
/*Global styles
-----------------------------------------*/

body {
	font-family: 'Quicksand', sans-serif;
 	font-size: 15px;
 	margin: 0px;
	padding: 0px;
	font-weight: 100;
 	line-height: 1.25;
 }

 a {
 	color:  #3a0994;
 }

a:hover {
	text-decoration: none;
}

h1 {
	font-family:'Macondo', cursive;
	font-weight: 25;
	font-size: 45px;
	margin:  0;
}

h2 {
	font-family:'Macondo', cursive;
	margin: 0;
	font-weight: 25;
	font-style: italic;
	font-size: 25px;
	line-height: 1.5;
}
.header-title {
	text-align: center;
}

.footer-contact {
	text-align: center;
}

h3 + p {
	font-style: italic;
}

h3 ~ p {
	margin: 0 0 0 30px;
}

h2 ~ p {
	margin-left: 10px;
}

.divider > section {
	border-bottom: 1px dashed #352D39;
	padding: 25px 0;
}

.divider > section:last-of-type {
 border-bottom: none;
}

h3 {
	font-family:'Macondo', cursive;
	margin: 0;
	margin-left: 20px;
	font-weight: 50;
	font-size: 20px;
	line-height: 1;
}

.content-wrap {
	max-width:  800 px;
	margin:  0 auto;
	padding:  12px 0;
	width: 75%;
}

.job-details {
	margin-left:  20px;
}

/*Profile section
------------------------------------------*/

header {
	background: #352D39;
	color: #fff8f2;
	text-align:  center;
}
header p {
	text-align: center;
	align-content: right;
}

ul {
	margin: 0;
	text-align: left;
}

/*Projects section
------------------------------------------*/
.projects {
	background: #D68FD6;
	min-height: 100vh;
	margin: 0;
  padding: 0;
  box-sizing: border-box;

}

/*Work experience section
------------------------------------------*/
.work-experience {
	background:  #cba4ff;
}

/*Skills section
------------------------------------------*/
.skills {
	background: #f4a261;
}

/*Education section
------------------------------------------*/
.education {
	background: #7C90DB;
}

/*Hobbies section
------------------------------------------*/
.hobbies {
	background: #009776;
}


/*Contact section
------------------------------------------*/
footer {
	background: #AEE4B8;
	color: #fff8f2;
	text-align: center;
	min-height: 100vh;
	margin: 0;
}

.contact-list {
	list-style-type: none;
	padding: 0;
	
}

.contact-list a {
	padding: 15px;
	display: inline-block;
	color: #7C90DB;
}

img {
	width: 150px;
	float: right;
	border-radius: 700px;
	 position: relative;
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}
/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* LinkedIn */
.fa-linkedin {
  background: #007bb5;
  color: white;
}

/* Instagram */
.fa-instagram {
  background: #125688;
  color: white;
}
/* Wordpress */
.fa-wordpress {
  background: #21759b; 
  color: white;
}

/* Responsive*/
@media screen and (min-width: 900px) {
 .job-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 10px;
    padding: 0;
	}
.contact-list {
	display: flex;
	justify-content: center;
	}

h2 {
text-align: left;
	}
.skills-list ul {
	display: grid;
  grid-template-columns: repeat(3, 3fr)
}
}
@media screen and (max-width:749px){
  h1 {
    font-size: 35px;
    line-height: 0.9;
    margin-bottom: 20px;
  }
  h2 {
    line-height: 1;
  }
  .contact-list a {
    padding: 5px;
	display: flex;
	justify-content: center;
  }
img {
	width: 80px;
	float: right;
	border-radius: 700px;
	position: relative;
}
}
